.add-temporary__container {
  width: max-content;
  height: max-content;
  padding: 24px 16px;

  .add-temporary__set-title {
    .title {
      text-align: left;
      font-size: 16px;
      color: #333;
      margin-bottom: 8px;
    }

    .add-temporary__input {
      padding: 6px 12px;
      outline: none;
      font-size: 14px;
      width: 100%;
      border-radius: 25px;
      transition: all 0.3s ease;
      border: var(--search-input-border-size) solid var(--border-color);
      margin-bottom: 4px;
      color: var(--text-color);

      &::placeholder {
        font-size: 12px;
        color: var(--search-input-placeholder-color);
      }

      &:focus {
        border-color: var(--color-primary);
      }
    }
  }

  .add-temporary__operation {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 32px;

    .is-button {
      padding: 0 12px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      font-size: 14px;
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }
}
