.radio-group {
  display: inline-flex;
  gap: 8px;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: var(--omni-text-primary);
  line-height: 1.57142857;

  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--omni-form-item-component-border-color);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86); // 过渡动画

    &:hover {
      border-color: var(--omni-primary-color);
    }

    &:checked {
      border-color: var(--omni-primary-color);
      background-color: #fff;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--omni-primary-color);
      }
    }

    &:focus-visible {
      border-color: var(--omni-primary-color);
    }
  }

  span {
    vertical-align: middle;
  }
}
