.radio-group {
  display: inline-flex;
  gap: 8px;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.57142857;

  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86); // 过渡动画

    &:hover {
      border-color: #4096ff;
    }

    &:checked {
      border-color: #4096ff;
      background-color: #fff;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #4096ff;
      }
    }

    &:focus-visible {
      border-color: #4096ff;
    }

    &:disabled {
      cursor: not-allowed;
      border-color: #d9d9d9;
      background-color: #f5f5f5;

      &::after {
        background-color: #ccc;
      }

      + span {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  span {
    vertical-align: middle;
  }
}
