.temporary-data__is-empty {
  text-align: center;
  font-size: 16px;
  color: #999;
  margin-top: 20%;
}

.temporary-data__container {
  .temporary-data__list {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    height: 100%;
    overflow: auto;

    .temporary-data__list-item-wrapper {
      display: flex;
      justify-content: space-between;

      .temporary-data__list-item {
        height: 32px;
        line-height: 32px;
        padding: 0 8px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 4px;
        flex: 1;

        &:hover {
          background-color: var(--item-hover-bg-color);
          color: var(--item-active-color);
        }

        .temporary-data__list-item-favicon {
          width: 16px;
          height: 16px;
          vertical-align: middle;
          margin-right: 4px;
        }
      }
    }

    .create-time {
      width: max-content;
      line-height: 32px;
      margin-left: 8px;
      font-size: 12px;
      color: #999;
    }

    .temporary-data__item-operation {
      width: 88px;
      color: var(--color-danger);
      font-size: 12px;
      cursor: pointer;
      text-align: center;
      line-height: 32px;
    }
  }
}
