.temporary-data__is-empty {
  text-align: center;
  font-size: 16px;
  color: #999;
  margin-top: 20%;
}

.temporary-data__container {
  height: 100%;
  overflow: auto;

  .temporary-data__list {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border-radius: 4px;

    .temporary-data__list-item-wrapper {
      display: flex;
      justify-content: space-between;

      &:hover {
        background-color: var(--item-hover-bg-color);
        color: var(--item-active-color);
      }

      .temporary-data__list-item {
        padding: 0 8px;
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        column-gap: 8px;

        .favicon__container {
          img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-right: 4px;
          }
        }

        .temporary-data__list-item-content {
          flex: 1;
          overflow: hidden;
          padding: 4px 0;

          .title {
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .url, .created-time {
            font-size: 12px;
            color: #999;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .created-time {
            color: #666;
            margin-top: 2px;
          }
        }

      }
    }

    .temporary-data__item-operation {
      display: flex;

      .is-button {
        width: 40px;
        font-size: 12px;
        cursor: pointer;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .delete-btn {
        color: var(--color-danger);
      }

      .edit-btn {
        color: var(--color-primary);
      }
    }
  }
}
