.setting__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .setting__content {
    flex: 1;
    overflow: hidden;
    width: 100%;

    .setting__tips {
      font-size: var(--omni-font-size-sm);
      color: var(--omni-text-tertiary);
      margin: 8px 0;

      a {
        color: var(--omni-primary-color);
      }
    }
  }

  .setting__footer {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;

    .submit-button {
      width: 88px;
      border-radius: 4px;
      color: #fff;
      background-color: var(--omni-primary-color);
      cursor: pointer;
      transition: all 0.3s ease;
      height: 32px;
      line-height: 32px;
      text-align: center;
    }
  }
}
