@forward "../../assets/styles/theme.scss";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body, html {
  overflow: hidden;
  background-color: transparent;
}

.layout__wrapper {
  display: contents;

  .layout__container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--omni-bg-color);
    color: var(--omni-text-primary);

    .layout__header {
      display: flex;
      border-bottom: var(--omni-border-size) solid var(--omni-border-color);
      column-gap: 12px;
      padding: 0 12px;

      .layout__tab {
        cursor: pointer;
        color: var(--omni-text-primary);
        padding: 0 24px;
        height: 42px;
        line-height: 42px;
        font-size: var(--omni-font-size-base);
        position: relative;

        &.active {
          color: var(--omni-primary-color);
          font-weight: 600;

          &::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: calc(var(--omni-border-size) * -1);
            width: 100%;
            height: 2px;
            background: var(--omni-primary-color);
            z-index: 1;
          }
        }
      }
    }

    .layout__content {
      padding: 12px 14px;
      flex: 1;
      overflow: hidden;
    }
  }
}

.omni-seek__notification {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateY(-20px) translateX(-50%);
  padding: 4px 12px;
  width: max-content;
  border-radius: 2px;
  font-size: 14px;
  color: var(--omno-notification-text-color);
  background-color: var(--omno-notification-bg-color);
  border: 1px solid var(--omno-notification-border-color);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;

  &.is-error {
    --omno-notification-bg-color: rgb(254, 240, 240);
    --omno-notification-text-color: rgb(245, 108, 108);
    --omno-notification-border-color: rgb(253, 226, 226);
  }

  &.is-warning {
    --omno-notification-bg-color: rgb(253, 246, 236);
    --omno-notification-text-color: rgb(230, 162, 60);
    --omno-notification-border-color: rgb(250, 236, 216);
  }

  &.is-success {
    --omno-notification-bg-color: rgb(240, 253, 245);
    --omno-notification-text-color: rgb(74, 222, 128);
    --omno-notification-border-color: rgb(209, 250, 229);
  }

  &.is-show {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }

  &.is-fadeout {
    opacity: 0;
    transform: translateY(-20px) translateX(-50%);
  }
}