.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  &__label {
    margin-bottom: 8px;
    line-height: 1.5715;
    text-align: left;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0;
    padding-left: 6px;
  }

  &__content {
    line-height: 1.5715;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
  }
}
