body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.bookmarks-search__container {
  display: flex;
  justify-content: center;
  padding-top: 10%;

  .bookmarks-search__content {
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;

    .bookmarks-search__search {
      .bookmarks-search__search-input {
        padding: 10px 15px;
        outline: none;
        font-size: 16px;
        width: 480px;
        border-radius: 25px;
        transition: all 0.3s ease;
        border: 2px solid #ddd;
        margin-bottom: 4px;

        &::placeholder {
          font-size: 12px;
          color: #999;
        }

        &:focus {
          border: 2px solid #158DFF;
        }
      }
    }

    .bookmarks-search__list {
      text-align: center;
      font-size: 14px;
      color: #333;
      background-color: #fff;
      min-width: 480px;
      border-radius: 4px;
      max-height: 500px;
      overflow: auto;

      .bookmarks-search__list-item {
        height: 32px;
        line-height: 32px;
        padding: 0 8px;
        cursor: pointer;
      }

      .bookmarks-search__list-item:hover,
      .bookmarks-search__list-item-active {
        background-color: #E8F8FF;
        color: #158DFF;
      }

      .bookmarks-search__list-item-favicon {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 4px;
      }
    }
  }
}
