.search-input__input {
  padding: var(--omni-search-input-padding);
  outline: none;
  font-size: var(--omni-font-size-base);
  width: 100%;
  border-radius: var(--omni-search-input-border-radius);
  transition: box-shadow 0.16s ease, background 0.16s ease;
  border: var(--omni-border-size) solid var(--omni-border-color);
  margin-bottom: 4px;
  color: var(--omni-search-input-text-color);

  &::placeholder {
    font-size: var(--omni-font-size-sm);
    color: var(--omni-search-input-placeholder-color);
  }

  &:focus {
    // 用 box-shadow 模拟 border
    box-shadow: inset 0 0 0 var(--omni-border-size) var(--omni-primary-color),;
  }
}