.search__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .search__input-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .tips {
      font-size: var(--omni-font-size-sm);
      color: var(--omni-text-tertiary);
    }
  }

  .search__result {
    flex: 1;
    overflow: hidden;

    .search__result-list {
      font-size: 14px;
      color: var(--omni-text-primary);
      height: 100%;
      overflow: auto;

      .list-item {
        padding: 0 8px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 6px;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        column-gap: 8px;

        .list-item__favicon {
          width: 16px;
          height: 16px;
          vertical-align: middle;
          margin-right: 4px;
        }

        .list-item__content {
          flex: 1;
          overflow: hidden;
          padding: 4px 0;

          .content__title {
            width: 100%;
            display: flex;
            column-gap: 6px;

            &.has-tag {
              .title {
                max-width: calc(100% - 80px);
                width: max-content;
              }
            }

            .title {
              width: 100%;
              font-weight: 500;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .tag {
              width: max-content;
              padding: 2px 6px;
              border-radius: 4px;
              font-size: var(--omni-font-size-sm);
              flex-shrink: 0;
            }
          }

          .content__url, .content__path {
            font-size: var(--omni-font-size-sm);
            color: var(--omni-text-tertiary);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .content__path {
            margin: 2px 0;
            display: flex;
            align-items: center;

            .icon {
              width: 16px;
              vertical-align: middle;
              margin-right: 4px;
            }

            .path__label {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }

        &.is-selected, &:hover {
          background-color: var(--omni-primary-hover-color);
          color: var(--omni-primary-color);
        }
      }
    }
  }

  .search__result-empty {
    flex: 1;
    overflow: hidden;
    font-size: var(--omni-font-size-base);
    color: var(--omni-text-tertiary);
    text-align: center;
    padding-top: 20%;
    z-index: 10;

    .keywords {
      color: var(--omni-primary-color);
    }
  }
}