.search__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .search__input-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .tips {
      font-size: 12px;
      color: #999;
    }

    .search__input {
      padding: 8px 12px;
      outline: none;
      font-size: 14px;
      width: 100%;
      border-radius: 4px;
      transition: all 0.3s ease;
      border: var(--search-input-border-size) solid var(--border-color);
      margin-bottom: 4px;
      color: var(--text-color);

      &::placeholder {
        font-size: 12px;
        color: var(--search-input-placeholder-color);
      }

      &:focus {
        border-color: var(--color-primary);
      }
    }
  }

  .search__result-container {
    flex: 1;
    overflow: hidden;

    .search__list {
      font-size: 14px;
      color: #333;
      background-color: #fff;
      border-radius: 4px;
      height: 100%;
      overflow: auto;

      .search__list-item {
        padding: 0 8px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        column-gap: 8px;

        .favicon__container {
          img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-right: 4px;
          }
        }

        .search__list-item-content {
          flex: 1;
          overflow: hidden;
          padding: 4px 0;

          .title__container {
            width: 100%;
            display: flex;
            column-gap: 6px;

            .title {
              width: 100%;
              font-weight: 500;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &.is-temporary__container {
              .title {
                max-width: calc(100% - 80px);
                width: max-content;
              }
            }

            .is-temporary {
              background-color: #eee;
              width: max-content;
              padding: 2px 6px;
              border-radius: 4px;
              font-size: 12px;
              color: #666;
            }
          }

          .url, .path, .is-temporary {
            font-size: 12px;
            color: #999;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .path {
            color: #333;
            margin: 2px 0;
            display: flex;
            align-items: center;

            .icon {
              width: 16px;
              vertical-align: middle;
              margin-right: 4px;
            }

            .path__label {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }

      .search__list-item:hover,
      .search__list-item-active {
        background-color: var(--item-hover-bg-color);
        color: var(--item-active-color);
      }
    }
  }
}
