.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  &__label {
    margin-bottom: 8px;
    line-height: 1.5715;
    text-align: left;
    color: var(--omni-text-primary);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0;
    padding-left: 6px;
    font-weight: 400;

    .form-item__tips {
      font-size: 12px;
      color: var(--omni-text-tertiary);
      margin-left: 4px;
    }
  }

  &__content {
    line-height: 1.5715;
    color: var(--omni-text-primary);
    font-size: 14px;
  }
}
